html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

h4 {
    margin: 0;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.panel-invalid {
    outline: 1px solid red;
    border-radius: 5px;
    border-radius: 5px;
}

.panel-header {
    background-color: #aaa;
    padding-left: 0.5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.panel-body {
    background-color: #ddd;
    padding: 0.2em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.numeric-2 {
    max-width: 5ch;
}
.numeric-3 {
    max-width: 7ch;
}

table {
    table-layout: fixed;
    width: 100%;
}

.si-tag {
    background-color: rgb(163, 163, 163);
    padding: 2px;
    border-radius: 5px;
    margin-left: 5px;
}
.expansion-tag-JE {
    background-color: rgb(226, 223, 46);
}
.expansion-tag-BC {
    background-color: rgb(41, 168, 132);
}
.expansion-tag-P1 {
    background-color: rgb(55, 61, 158);
    color: white;
}
.expansion-tag-P2 {
    background-color: rgb(223, 102, 223);
}
.expansion-tag-HS {
    background-color: rgb(233, 169, 73);
}

.child-item {
    padding-left: 16px;
}

.container.slim {
    width: 100%;
}
.row.slim [class^="col"] {
    float: left;
    margin: 1px;
    min-height: 0.0rem;
}

.map-image {
    max-width: 100%;
    max-height: 100%;
}