<div class="preset-dropdown-option" @onclick="OnSelectItem">
    <span>@Preset</span>
    <i class="fa fa-trash preset-delete @(ShowDelete ? "show": string.Empty)" @onclick="OnDeleteItem"></i>
</div>

@code {
    [Parameter]
    public string Preset { get; set; }

    [Parameter]
    public bool ShowDelete { get; set; }    
    
    [Parameter]
    public EventCallback OnSelectItem { get; set; }
    
    [Parameter]
    public EventCallback OnDeleteItem { get; set; }
}