
.preset-dropdown-option {
    font-size: small;
    padding: 2px 0.5em 2px 0.5em;
    cursor: default;
    text-align: left;
    align-content: right;
}

.preset-dropdown-option:hover {
    background-color: #ccc;
}

.preset-delete {
    float: right;
    border-radius: 3px;
    color: red;
    cursor: pointer;
    visibility: hidden;
    margin-top: 3px;
    margin-left: 1em;
}

.preset-delete.show {
    visibility: visible;
}