@using SiRandomizer.Data

<Panel>
    <Header>
        <input type="checkbox" @bind="Group.Selected" >@Group.Name
    </Header>
    <Body>
        <div class="container slim">
            <div class="row slim">
                @foreach(var item in Group
                        .Where(x => x.IsVisible()))
                {
                    <div class="@ItemClass">
                        <CascadingValue Value="item" Name="Item">
                            <SelectableItem />
                        </CascadingValue>
                    </div>
                }
            </div>
        </div>
    </Body>
</Panel>

@typeparam T where T : SelectableComponentBase<T>
@code {
    [CascadingParameter(Name = "Group")]
    public OptionGroup<T> Group { get; set; }

    [Parameter]
    public string ItemClass { get; set; } = "col-6";
}