@using System.Collections;

<input type="checkbox" @bind="Item.Selected">@Item.Name

@if(Item is IExpansionContent itemEx && 
    itemEx.Expansions != null) {
    foreach(var expansion in itemEx.Expansions.Where(e => string.IsNullOrEmpty(e.Tag) == false))
    {
        <span class="si-tag expansion-tag-@expansion.Tag">@expansion.Tag</span>
    }
}
@if(Item is IDifficultyModifier difficultyMod) {
    <span class="si-tag">@difficultyMod.DifficultyModifier.ToString("+0;-#")</span>
}
@if(Item.HasAssignableWeight && 
    Item.Config.ShowWeights &&
    Item.Selected)
{
    <InputNumber class="add-margin-left numeric-3" @bind-Value="Item.Weight" @bind-Value:format="F2" />
}
@if(Item.Deletable) {
    <button class="add-margin-left" type="button" @onclick="() => DeleteItemCallback.InvokeAsync(Item.Name)">
        <i class="fa fa-trash item-delete show"></i>
    </button>
}
@if(children != null && children.Count > 0) {
    <div class="container slim">
        <div class="row slim">
            @foreach(var child in children)
            {
                <div class="col-12 child-item">
                    <CascadingValue Value="child" Name="Item">
                        <SelectableItem />
                    </CascadingValue>
                </div>
            }
        </div>
    </div>
}

@code {
    [CascadingParameter(Name = "Item")]
    public INamedComponent Item 
    { 
        set 
        {
            var type = value.GetType();
            // If this item is a collection of INamedComponent instances
            // then set the 'children' variable to ensure they are rendered too.
            if(type.IsNamedComponentCollection())
            {
                children = (value as IEnumerable)
                    .Cast<INamedComponent>()
                    .Where(x => x.IsVisible())
                    .ToList();
            }
            values = value; 
        }
        get { return values; } 
    }

    [Parameter]
    public EventCallback<string> DeleteItemCallback { get; set; }

    private INamedComponent values;
    private List<INamedComponent> children;
}