@using SiRandomizer.Data

<Panel>
    <Header>
        <input type="checkbox" @bind="Group.Selected" >@Group.Name
    </Header>
    <Body>
        <table>
            @{
                var rows = Group
                    .Where(x => x.IsVisible())
                    // Split the contents into two columns
                    .Select((x, i) => new { x, i })
                    .GroupBy(p => (p.i / Columns), p => p.x);
            }
            @foreach(var row in rows)
            {
                <tr>
                    @foreach (var item in row)
                    {
                        <CascadingValue Value="item" Name="Item">
                            <td><SelectableItem /></td>
                        </CascadingValue>
                    }
                </tr>
            }
        </table>
    </Body>
</Panel>

@typeparam T where T : SelectableComponentBase<T>
@code {
    [CascadingParameter(Name = "Group")]
    public OptionGroup<T> Group { get; set; }

    [Parameter]
    public int Columns { get; set; } = 2;
}