.tooltip-wrapper {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid black;
    cursor: help;
}

span {
    visibility: hidden;
    position: absolute;
    width: 300px;
    bottom: 100%;
    left: 50%;
    margin-left: -150px;
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    z-index: 1;
    font-weight: normal;
}
/* On small screens, just center the tool tip on the screen */
@media screen and (max-width: 600px) 
{ 
    span
    {        
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(0, -50%);
        bottom: auto;
    }
}

span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: #363636 transparent transparent transparent;
}
/* Hide the arrow on small screens */
@media screen and (max-width: 600px) 
{ 
    span::after 
    {
        display: none;
    }
}

.tooltip-wrapper {
    background-color: rgb(196, 196, 196);
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    margin-left: 5px;
}

.tooltip-wrapper:hover span {
    visibility: visible;
}