@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <div><h4>Spirit Island Randomizer</h4></div>
            <div>This is a setup randomizer for the board game <a href="https://boardgamegeek.com/boardgame/162886/spirit-island">Spirit Island</a></div>
        </div>

        <div class="content px-4">
            @Body
        </div>

        <div class="bottom-row">
            <p>The source code for this site is hosted on <a href="https://github.com/SteveBallantine/spirit-island-randomiser">GitHub</a></p>
            <p>If you make use of this site and want to show your support then feel free to <a href="https://www.buymeacoffee.com/stevebsir">buy me a pizza</a>.</p>
            <p>Spirit Island was created by <a href="https://rericreuss.com/">R. Eric Reuss</a> and is published by <a href="https://greaterthangames.com/">Greater Than Games</a>.</p>
        </div>
    </div>        
</div>
