.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    min-height: 2.5rem;
    display: flow-root;
    text-align: center;
    top: 0;
}

.bottom-row {
    background-color: #f7f7f7;
    border-top: 1px solid #d6d5d5;
    min-height: 3.5rem;
    text-align: center;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
